certifi==2025.1.31
cffi==1.18.0.dev0
charset-normalizer==3.4.1
customtkinter==5.2.2
darkdetect==0.8.0
defusedxml==0.7.1
greenlet==0.4.13
hpy==0.9.1.dev61+g79fb330d
idna==3.10
numpy==2.2.3
olefile==0.47
packaging==24.2
Pillow==2.9.0
pyperclip==1.9.0
python-dotenv==1.0.1
readline==6.2.4.1
requests==2.32.3
urllib3==2.3.0
